.design-portfolio {
    min-height: 800px;
    background-color: #F8F9FA;
    padding: 100px 0;

    ul.nav {
        justify-content: space-between;

        .nav-link{
            color: #7f7f7f;
        }
    }

    &__list {
        padding: 0;
        list-style: none;
        padding: 50px 0 0;

    }

    &__item {
        position: relative;
        text-align: center;
        overflow: hidden;
        margin-bottom: 30px;

        &:hover {
            .design-portfolio__img {
                opacity: 0.15;
                // transition: all 0.5s;
            }

            .design-portfolio__name {
                transform: translateY(-60px);
            }
        }

    }

    &__img {
        max-width: 100%;
        min-height: 300px;
        transition: all .5s;
    }

    &__name {
        position: absolute;
        font-size: 13px;
        letter-spacing: 4px;
        color: #7f7f7f;
        text-transform: uppercase;
        text-align: center;
        bottom: -30px;
        width: 100%;
        display: block;
        left: 50%;
        margin-left: calc(-1 * 100% / 2);
        transition: all 0.5s;
    }
}